body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.984313725490196);
  background-image:none;
  position:relative;
  left:0px;
  width:1740px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:80px;
  background:inherit;
  background-color:rgba(198, 221, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:80px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:5px;
  width:70px;
  height:70px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:5px;
  width:70px;
  height:70px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:5px;
  width:70px;
  height:70px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:900px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1740px;
  height:900px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.984313725490196);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:100px;
  width:1340px;
  height:880px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:880px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:100px;
  width:1340px;
  height:880px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:40px;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:5px;
  width:240px;
  height:70px;
  display:flex;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:40px;
  text-align:center;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(85, 239, 203, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:780px;
  width:320px;
  height:100px;
  display:flex;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(85, 239, 203, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:780px;
  width:320px;
  height:100px;
  display:flex;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:2px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:700px;
  width:1340px;
  height:1px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:588px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:116px;
  width:603px;
  height:588px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(85, 239, 203, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:780px;
  width:320px;
  height:100px;
  display:flex;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:156px;
  width:700px;
  height:488px;
  display:flex;
  font-size:32px;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:12px;
  width:151px;
  height:28px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:40px;
  width:74px;
  height:28px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
